{% extends 'login/login.html' %}
{% block body_block %}


  <!-- <div class="container-fluid1 bg-1 text-center">
  <h3 class="margin">ECON CLUB</h3>
  <img src="static/images/bird.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
  <h3>WELCOME TO WDS 4.0</h3>
</div> -->

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active index-pic">
      <img src="../../static/images/bg-2.jpg" alt="Los Angeles">
    </div>

    <div class="item index-pic">
      <img src="../../static/images/bg-3.jpg" alt="Chicago">
    </div>

    <div class="item index-pic">
      <img src="../../static/images/bg-4.jpg" alt="New York">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only"></span>
  </a>
</div>
<img src="../../static/images/order.jpeg" width=100% alt="New York">

<div class="container-fluid3" style="background-color: #5610f4;"><center>
    <h1 style="color: white;"><b>About Us </b></h1>      
  <p style="color:white;" >Humans have come very far in their knowledge of money. From the barter system to the stock market, from copper tokens to printed notes, we have covered quite a journey. 
For all the zealous participants out there, The Econ Club releases the teaser for their annual flagship event "Wolf of Dalal Street". Brush up your knowledge about domestic and international markets, and get ready to tackle the bull and the bear. Turn your losses into profits with your prudence and prove to the world that money indeed grows on trees!</p> 
    </center>
          
</div>


{% endblock %}
